/**
 * Site Header
 */

$module-name: 'header';

// .header {}
.#{$module-name} {
	padding: 10px;
	background: linear-gradient(lightblue, white 50%);
	text-align: center;

	&__content {
		max-width: $max-site-width;
		margin: 0 auto;
	}

	&__img {
		width: 200px;
	}
}

// Screens > 700px
@media( min-width: $mid)  {
	.#{$module-name} {

		&__img {
			width: 40px;
		}
	}
}