/**
 * About Section
 */

$module-name: 'section';

// .section {}
.#{$module-name} {
	min-height: 50vh;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	background-color: $white;
	border-bottom: 1px solid $black;

	&#about,
	&#map {

	}

	&#footer,
	&#team {

	}

	&__header {
		display: inline-block;
		margin-bottom: 20px;
		padding: 20px 5px 5px;
		border-bottom: 1px solid $black;
		max-width: 960px;

		&--centered {
			display: block;
			margin: 0 auto;
			text-align: center;
			border-bottom: none;
		}

		&--spacing {
			margin-bottom: 40px;
		}
	}

	&__wrapper {
		display: inline-block;
		margin: 0 auto;
		width: 49%;
		text-align: center;
	}

	&__content {
		max-width: $max-site-width;
		margin: 0 auto;
		padding: 20px 0;

		&--bleed {
			max-width: 100%;
		}
	}

	&__text {
		padding-bottom: 20px;
    line-height: 20px;
		font-size: 14px;
	}

	&__text--centered {
		text-align: center;
	}

	// About section.
	&__about {
		display: table;
		position: relative;
		margin-bottom: 35px;
		padding: 15px;
		text-align: center;
	}

	&__about-info {
    margin: 0px auto;
    line-height: 20px;
	}

	&__about-name {
    margin: 0px auto 5px;
		font-size: 24px;
    font-weight: bold;
	}

	&__about-specialty {
		margin: 0px auto 10px;
		font-size: 18px;
		color: $gray;
	}

	&__about-img {
		width: 50%;
    margin: 0 auto;
		margin-bottom: 20px;
    display: block;
    border-radius: 50%;
	}

	// Policies & Patients Section.
	&__content {
		overflow: auto;
	}

	&__content-tile {
		width: 100%;
		overflow: auto;
		margin-bottom: 20px;
		padding: 25px;
		border-radius: 10px;
		box-shadow: 0 5px 10px lightgray;

		&#medical-records,
		&#prescription-refills {
			background-image: radial-gradient(ellipse, white 0%,  $yellow 150%);
		}

		&#form-downloads,
		&#prescriptions,
		&#options {
			background-image: radial-gradient(ellipse, white 0%,  $earth-green 150%);
		}

		&#emergencies {
			background-image: radial-gradient(ellipse, white 0%, $red 150%);
		}

		&#late-policy,
		&#appointments {
			background-image: radial-gradient(ellipse, white 0%, $lightblue 150%);
		}
	}

	&__content-list {
		padding: 15px;

		&-header {
			text-align: center;
			font-weight: 700;
		}

		&-item {
			padding: 10px 0;
		}

		a {
			color: $blue;
		}

		// Highlight links that still need URLs.
		a[href="#"] {
			color: red;
		}
	}

	// Map Section.
	&__map {

		&-overlay {
			background: transparent;
			position: relative;
			width: 100%;
			height: 300px; /* your iframe height */
			top: 350px;  /* your iframe height */
			margin-top: -300px;  /* your iframe height */
		}

		iframe {
			width: 100%;
			height: 300px;
			margin: 50px 0 40px;
			box-shadow: 0 0 15px $darkgray;
		}
	}
}

@media( min-width: $mid)  {
	.#{$module-name} {

		&__content-tile--full {
			width: 100%;
		}

		&__content-tile--left,
		&__content-tile--right {
			float: left;
			width: 49%;
		}

		&__content-tile--left {
			margin-right: 2%;
		}

		&__content-list--split {
			.#{$module-name}__content-list-item {
				float: left;
				width: 49%;
			}
		}

		// About Section.
		&__about-left {
    	display: table;
    	position: relative;
    	margin-bottom: 15px;
    	padding: 15px;
			text-align: left;
		}

		&__about-img-left {
    	width: 17%;
    	margin: 0 3% 20px 0;
    	display: inline-block;
    	border-radius: 50%;
    	float: left;
		}

		&__about-name-left {
    	margin: 0px 20px 5px 11px;
    	font-size: 24px;
    	font-weight: bold;
    	margin-left: 30px;
    	padding-top: 10px;
		}

		&__about-info-left {
    	margin: 0px auto 30px;
    	line-height: 20px;
			float: right;
			width: 80%;
		}

		&__about-right {
    	display: table;
    	position: relative;
    	margin-bottom: 15px;
    	padding: 15px;
			text-align: right;
		}

		&__about-img-right {
    	width: 17%;
    	margin: 0 0 20px 3%;
    	display: inline-block;
    	border-radius: 50%;
    	float: right;
		}

		&__about-name-right {
    	margin: 0px 20px 5px 11px;
    	font-size: 24px;
    	font-weight: bold;
    	margin-right: 30px;
    	padding-top: 10px;
		}

		&__about-info-right {
    	margin: 0px auto 30px;
    	line-height: 20px;
			float: left;
			width: 80%;
		}
	}
}
