/**
 * Site-wide variables.
 */

/* Sizing */
$max-site-width: 960px;

/* Breakpoints */
$mid: 700px;

/* Colors */
$lightblue: lightblue;
$blue: steelblue;
$darkblue: darkblue;
$lightgray: #EFEFEF;
$gray: lightgray;
