/**
 * Site-wide variables.
 */

/* Sizing */
$max-site-width: 960px;

/* Breakpoints */
$mid: 700px;

/* Colors */
$blue: #007FFF;
$lightblue: lighten($blue, 30%);
$darkblue: darken($blue, 30%);
$lightgray: #EFEFEF;
$gray: lightgray;
$white: white;

/* Fonts */
$open-sans: 'Open Sans', sans-serif;